NEXT_PUBLIC_CLIENT_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_CLIENT_API_URL="/api/v1"
NEXT_PUBLIC_SERVER_BASE_URL="http://localhost:8000"
NEXT_PUBLIC_SERVER_API_URL="/api/v1"

APP_BASE_URL="http://localhost:3000"
CLIENT_URL="http://localhost:3000"
SERVER_URL="http://localhost:8000"

# See README.md for how to set Auth0 values
AUTH0_SECRET=
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=
