# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules

# next.js
/client/.next/
/client/out/

# production
/client/build

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

# env files
/client/.env*

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts

# server
/server/.venv
