ENVIRONMENT=DEV

APP_BACKEND_BASE_URL=http://localhost:8000
APP_BACKEND_API_PATH=/api/v1
APP_BACKEND_ALLOW_CREDENTIALS=False
APP_BACKEND_ALLOW_METHODS=*
APP_BACKEND_ALLOW_HEADERS=*

APP_FRONTEND_BASE_URL=http://localhost:3000

LOGGING_LEVEL=20  # INFO

# See README.md for how to set Auth0 values
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

AUTH0_JWKS_PATH=/.well-known/jwks.json
AUTH0_ALGORITHM=RS256
AUTH0_SCOPE=openid profile email
AUTH0_REDIRECT_PATH=/auth/login/callback
AUTH0_TOKEN_PATH=/oauth/token
AUTH0_AUTHORIZE_PATH=/authorize
AUTH0_LOGOUT_PATH=/v2/logout

DB_SQLITE_URL=sqlite+aiosqlite:///database.db
DB_SQLITE_JOURNAL_MODE=WAL
DB_SQLITE_WAL_CHECKPOINT=FULL

DB_REDIS_HOST=localhost
DB_REDIS_PORT=6379
DB_REDIS_DECODE_RESPONSES=True
DB_REDIS_KEY_PREFIX_SESSION=session
DB_REDIS_KEY_JWKS=jwks
DB_REDIS_TTL_JWKS=300

SESSION_TTL=3600
